:root{
    --gradient-rosa-azul: linear-gradient(90deg, rgba(255, 0, 224, 1) 0%, rgba(20, 255, 233, 1) 100%);
}

/* BACKGROUND PARTICULAS RETANGULARES SUBINDO */
.particles {
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    left: 0;
    top: 700px;
}

.particles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--gradient-rosa-azul);
    animation: animate 25s linear infinite;
    opacity: 0;

}

.particles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.particles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.particles li:nth-child(3) {
    left: 75%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.particles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.particles li:nth-child(5) {
    left: 60%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.particles li:nth-child(6) {
    left: 80%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.particles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.particles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.particles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.particles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    25% {
        opacity: 0.8;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }

}

/* PARTIGULAS CIRCULARES SCALE-DOWN-UP */
.ripple {
    position: absolute;
    z-index: -10;
    opacity: .1;
    top: 0;
    right: 0;
    left: 0;
    top: 1200px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 6s infinite ease-in-out;

    width: calc(200px * var(--tam));
    height: calc(200px * var(--tam));
    left: calc(-100px * var(--tam));
    bottom: calc(-100px * var(--tam));

    opacity: calc(0.1 * (6 - var(--tam)));

    box-shadow: 10px 0px 10px 0px rgb(0, 0, 0, .2);
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}