@import "font.css";
@import "colors.css";
@import "pattern.css";
@import "header-menu.css";
@import "variables.css";

body {
	margin: 0px;
	background: var(--gradiente-preto);
	overflow: hidden;
}

/* TESTE */
.teste {
	justify-items: center;
	align-items: center;
	width: 1200px;
	height: 700px;
	margin: 80px auto;

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(20px);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lembrar {
	font-size: 1.5rem;
}

.alternate {
	font-size: 4rem;
	font-weight: bold;
	cursor: pointer;
}

.options {
	margin: 0 auto;
	justify-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.options .circle,
.options .square {
	cursor: pointer;
}

/* FORMAS */
.square {
	width: 100px;
	height: 100px;
	margin: 50px;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 50px;
}

/* VARIACOES */
.big {
	width: 200px;
	height: 200px;
}

.red {
	background-color: var(--cor-vermelho);
}

.blue {
	background-color: var(--cor-azul);
}

.line {
	width: 190px;
	height: 190px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	box-shadow: 1px 1px 10px white;
}
