:root {
	--gradiente-vermelho: linear-gradient(90deg, #eb3232 0%, #f1743a 100%);
	--gradiente-azul: linear-gradient(90deg, #32b1eb 0%, #3a4cf1 100%);
	--gradiente-verde: linear-gradient(90deg, #41eb32 0%, #3af19c 100%);
	--gradiente-amarelo: linear-gradient(90deg, #ebe833 0%, #cff13a 100%);
	--gradiente-preto: linear-gradient(to right, #141414, #252525);
	--gradiente-branco: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 0%,
		#ffffff 75%,
		#ffffff 100%
	);
	--gradiente-azul-transparente-bottom: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 0%,
		#32b1eb 75%,
		#3a4cf1 100%
	);
	--gradiente-azul-transparente-right: linear-gradient(
		to right,
		rgba(255, 255, 255, 0) 0%,
		#32b1eb 75%,
		#3a4cf1 100%
	);
	--pastel-red: #e55558;
	--pastel-blue: #2a69db;
	--pastel-green: #19b219;
	--pastel-yellow: #dfe07f;
}

.cl-white {
	color: white !important;
}

.cl-black {
	color: black !important;
}

.cl-red {
	color: red !important;
}

.cl-green {
	color: green !important;
}

.cl-blue {
	color: blue !important;
}

.cl-yellow {
	color: yellow !important;
}

.bg-red {
	background-color: red !important;
}

.bg-yellow {
	background-color: yellow !important;
}

.bg-blue {
	background-color: blue !important;
}

.bg-green {
	background-color: green !important;
}

.bg-grad-red {
	background: var(--gradiente-vermelho) !important;
}

.bg-grad-blue {
	background: var(--gradiente-azul) !important;
}

.bg-grad-green {
	background: var(--gradiente-verde) !important;
}

.bg-grad-yellow {
	background: var(--gradiente-amarelo) !important;
}

.filter-red {
	filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
		saturate(600%) contrast(0.8);
}

.filter-blue {
	filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg)
		saturate(700%) contrast(0.8);
}

.filter-green {
	filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg)
		saturate(1000%) contrast(0.8);
}

.filter-yellow {
	filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg)
		saturate(500%) contrast(0.7);
}

.cl-invert {
	filter: invert(100%);
}
