@import "font.css";
@import "pattern.css";
@import "header-menu.css";
@import "variables.css";
@import "loader.css";
@import "scroll-bar.css";

body {
	margin: 0px;
	background-color: #252525;
	color: white;
}
