.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    padding: 0 10%;
}

.white-mode{
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .logo{
    margin-right: 200px;
    background-color: aqua;
    color: #333;
}

.topnav .login{
    float: right;
}

.topnav a{
    transition: all .25s ease-Out;
}
.topnav a:hover {
    -webkit-box-shadow:inset 0px 0px 0px 5px #32b1eb;
    -moz-box-shadow:inset 0px 0px 0px 5px #32b1eb;
    box-shadow:inset 0px 0px 0px 5px #32b1eb;
}

.topnav a.active {
    background-color: #32b1eb;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}