.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 0 10%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .logo{
    margin-right: 200px;
    background-color: aqua;
    color: #333;
}

.topnav .login{
    float: right;
}

.topnav a{
    transition: all .25s ease-Out;
}
.topnav a:hover {
    -webkit-box-shadow:inset 0px 0px 0px 5px #4CAF50;
    -moz-box-shadow:inset 0px 0px 0px 5px #4CAF50;
    box-shadow:inset 0px 0px 0px 5px #4CAF50;
    font-weight: 700;
    letter-spacing: 1px;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}