@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f9ff;
}

h2{
    text-align: center;
}

ul{
    margin: 0 30%;
}

li {
    font-size: 1.2rem;
}