.line-v{
    position: relative;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line-v::after{
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: var(--gradiente-azul-transparente-bottom);
    animation: drop 4s ease-in-out infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line-v::before{
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: var(--gradiente-azul-transparente-bottom);
    animation: drop 4s ease-in-out infinite;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line-h{
    position: relative;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line-h::after{
    content: '';
    display: block;
    position: absolute;
    width: 55vh;
    height: 100%;
    left: -50%;
    background: var(--gradiente-azul-transparente-right);
    animation: run 6s ease-in-out infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line-h::before{
    content: '';
    display: block;
    position: absolute;
    width: 55vh;
    height: 100%;
    left: -50%;
    background: var(--gradiente-azul-transparente-right);
    animation: run 6s ease-in-out infinite;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

@keyframes drop{
  0%{
    top: -30%;
  }
  100%{
    top: 110%;
  }
}

@keyframes run{
    0%{
      left: -30%;
    }
    100%{
      left: 120%;
    }
  }
