:root{
    --gradient: linear-gradient(90deg, transparent, transparent 40%, #14ffe9, #ffeb3b, #ff00e0);
    --loader-gradient: linear-gradient(270deg, #101010, #303030);
}

.loader-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: var(--loader-gradient);
    background-size: 400% 400%;

    -webkit-animation: rotate-bg 3s ease infinite;
    -moz-animation: rotate-bg 3s ease infinite;
    animation: rotate-bg 3s ease infinite;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* CARREGAMENTO */
.loader{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--gradient);
    animation: rotate 1s linear infinite;
    transition: .5s;
}

.loader span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--gradient);
    transition: .5s;
}

.loader:after{
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 50%;

    background: var(--loader-gradient);
    background-size: 400% 400%;

    -webkit-animation: rotate-bg 3s ease infinite;
    -moz-animation: rotate-bg 3s ease infinite;
    animation: rotate-bg 3s ease infinite;
    
    transition: .5s;
}

.loader span:nth-child(1){
    filter: blur(5px);
}
.loader span:nth-child(2){
    filter: blur(10px);
}
.loader span:nth-child(3){
    filter: blur(25px);
}
.loader span:nth-child(4){
    filter: blur(50px);
}

.pausado{
    width: 150px;
    height: 150px;
}
.pausado:after{
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}
.pausado span:nth-child(1),
.pausado span:nth-child(2),
.pausado span:nth-child(3),
.pausado span:nth-child(4){
    filter: blur(0px);
}

.sumir{
    animation: vanish 0.5s forwards;
}

.displaynone{
    display: none;
}

@keyframes vanish {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes rotate-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes rotate-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}