@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f9ff;
}

.menu {
    background-color: #cacaca;
    width: 100%;
    height: 50px;
    margin: 0px;
    align-items: center;
}

.grade {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.home {
    border-radius: 80px;
    width: 120px;
    height: 30px;
    font-weight: 500;
    margin-top: 8px;
    text-align: center;
}

.login {
    border-radius: 80px;
    width: 120px;
    height: 30px;
    font-weight: 500;
    margin-top: 8px;
    text-align: center;
}

.login img {
    width: 24px;
}


/* TESTE */

.teste {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 700px;
    background-color: rgb(245, 245, 245);
}

.lembrar {
    font-size: 1.5rem;
}

.alternar {
    font-size: 4rem;
    font-weight: bold;
}

.botoes {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    font-weight: 600;
    color: white;
}

.errado{
    background-color: rgb(236, 89, 89);
    padding: 1rem;
    border-radius: 20px;
}

.certo{
    background-color: rgb(89, 236, 109);
    padding: 1rem;
    border-radius: 20px;
}