@import "font.css";
@import "colors.css";
@import "pattern.css";
@import "header-menu.css";
@import "variables.css";

body {
	margin: 0px;
	background: var(--gradiente-preto);
	overflow: hidden;
}

/* TESTE */
.teste {
	width: 1200px;
	height: 600px;
	margin: 80px auto;
	padding: 50px 0;

	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-content: center;
	align-items: center;
	text-align: center;

	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(20px);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	
	color: white;
}

.lembrar {
	font-size: 1.5rem;
}

.alternar {
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
}

.info{
	font-size: 2rem;
}

.botoes {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	justify-items: center;
	font-weight: 600;
	color: var(--cor-fonte);
}

.errado {
	background-color: var(--cor-errado);
	padding: 1rem;
	border-radius: 20px;
}

.certo {
	background-color: var(--cor-certo);
	padding: 1rem;
	border-radius: 20px;
}
