@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin:0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f9ff;
  }
  .menu{
    background-color: #cacaca;
    width:100%;
    height:50px;
    margin:0px;
    align-items: center;
  }
  .grade{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-items:center;
  }
  
  .home{
    border-radius:80px;
    width:120px;
    height:30px;
    font-weight: 500;
    margin-top:8px;
    text-align:center;
  }
  
  .step{
    border-radius:80px;
    width:120px;
    height:30px;
    margin-top:8px;
    text-align:center;
  }
  
  
  .login{
    border-radius:80px;
    width:120px;
    height:30px;
    font-weight: 500;
    margin-top:8px;
    text-align:center;
  }
  .login img{
      width: 24px;
  }
  
  .testes  {
    background-color:gray;
    position:absolute;
    width:90%;
    height:80%;
    margin:0 50px ;
    margin-top:25px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr ;
  }
  
  div .circulo .vermelho{
    background-color:red;
    width:50px;
    height:50px;
    border-radius:50%;
    margin: 10%  auto;
  }
  .encerramento{
    display:block;
  }

  .encerra{
    width: 50%;
    color: red;
    margin: auto;
    margin-top: 250px;
    font-size:40px;
}
.trasicao{
  display:grid;
  
}



div .circulo .amarelo{
  background-color:yellow;
  width:50px;
  height:50px;
  border-radius:50%;
  margin: 10%  auto;
}
div .circulo .azul{
  background-color:rgb(25, 0, 255);
  width:50px;
  height:50px;
  border-radius:50%;
  margin: 10%  auto;
}
div .circulo .verde{
  background-color:green;
  width:50px;
  height:50px;
  border-radius:50%;
  margin: 10%  auto;
}

/*Circulos modificados*/



/*acaba aqui*/

.comandos{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  margin-left:100px;
}

.txtcmd{
  margin :0 auto;
}

.transicao{
  position:absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  background-color: white;
  color: red;
  font-size: 3rem;
}


.hidden{
  visibility: hidden;
  width: 0px;
  height: 0px;
}