@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "pattern.css";
@import "header-menu.css";
@import "variables.css";

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cor-de-fundo);
}

.testes {
  background-color: var(--cor-de-fundo-testes);
  width: 90%;
  height: 600px;
  margin: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.holder {
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  font-weight: 900;
}

.clique-errado{
  animation: clique-errado 0.2s linear;
}

.circulo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: -25px 0 0 -25px;
}

.bg-vermelho {
  background-color: var(--cor-vermelho);
}

.bg-amarelo {
  background-color: var(--cor-amarelo);
}

.bg-azul {
  background-color: var(--cor-azul);
}

.bg-verde {
  background-color: var(--cor-verde);
}

.txt-vermelho {
  color: var(--cor-vermelho);
}

.txt-amarelo {
  color: var(--cor-amarelo);
}

.txt-azul {
  color: var(--cor-azul);
}

.txt-verde {
  color: var(--cor-verde);
}

.ativo {
  border: thick solid var(--cor-preto);
}

/*ANIMACAO DE CLIQUE ERRADO*/
@keyframes clique-errado{
  100% {
    background-color: none;
  }
  50%{
    background-color: var(--cor-branco);
  }
}


.comandos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px 100px;
}

.txtcmd {
  margin: 0 auto;
}