@import "font.css";
@import "colors.css";
@import "pattern.css";
@import "header-menu.css";
@import "variables.css";
@import "loader.css";

body {
	margin: 0px;
	background: var(--gradiente-preto);
	overflow: hidden;
}


main{
	height: calc(100vh - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.teste {
	display: flex;
	flex-direction: column;
	width: 80%;
}

#copiar {
	height: 300px;
	background-color: #333;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
}

.mao {
	height: 100px;
	background-color: #555;
	display: flex;
	justify-content: center;
	align-items: center;
}

#inventario {
	background-color: #333;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: end;
	justify-content: center;
}

#inventario .container {
	cursor: pointer;
}

.container {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	border: #202020 solid 3px;

	box-sizing: border-box;
}

.container.max-height-1 {
	height: 60px;
}

.container.max-height-2 {
	height: 120px;
}

.container.max-height-3 {
	height: 180px;
}

.disco {
	width: 100px;
	height: 50px;
	border: #000 solid 2px;
	margin: 0 auto;
	color: white;
	font-size: 3rem;
	padding: auto;
	text-align: center;
}

.vermelho {
	background-color: red;
}

.verde {
	background-color: green;
}

.azul {
	background-color: blue;
}

#cliques{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;

	margin-top: 50px;
}

#wrapperCliques{
	display: flex;
	gap: 10px;
}

#wrapperCliques span{
	width: 30px;
	height: 30px;

	border: 2px solid #fff;
	border-radius: 50%;
}

#wrapperCliques .cliquePossivel{
	background-color: red;
}